doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")  
        if pageTitle 
            title #{pageTitle} | #{siteTitle} 
        else 
            title=siteTitle

    body 
        nav 
            ul 
                li 
                    a(href="/") home 
                li 
                    a(href="/search") search 
                

                if loggedIn
                    li
                        a(href="/video/upload") upload 
                    li 
                        a(href="/user/logout") Logout
                    li
                        a(href="/user/edit") Edit Profile
                    li 
                        a(href=`/user/${loggedInUser._id}`) #{loggedInUser.name}'s Profile
                else
                    li
                        a(href="/join") Join 
                    li
                        a(href="/login") Login 


                
                
        block body

        include partials/footer