extends ../base

block body
    div#videoContainer(data-id=video._id)
        video(src="/" + video.fileUrl)

        div#videoControls.videoControls
            div.videoControls__play
                span#play.videoControls__playBtn
                    i.fas.fa-play
                div.videoControls__time
                    span#currentTime 00:00
                    span  / 
                    span#totalTime 00:00
            input(type="range",step="1", value="0", min="0")#timeline.videoControls__timeline
            div.videoControls__volume
                input(type="range",step="0.1", value=0.5, min="0", max="1")#volume
                span#mute
                    i.fas.fa-volume-up
                span#fullScreen
                    i.fas.fa-expand

    //- p=video.description
    //- small uploaded by 
    //-     a(href=`/user/${video.owner._id}`)=video.owner.name
    //- hr

    div.video__data
        p.video__title=video.title
        small.video__owner Uploaded by 
            a(href=`/user/${video.owner._id}`)=video.owner.name
        small.video__createdAt=new Date(video.createdAt).toLocaleDateString("us-en", {weekday: 'long', year: 'numeric', month: 'long', day: 'numeric'})
        br

    if loggedIn
        div.video__add-comments
            form.video__comment-form#commentForm(data-logged-in-user=loggedInUser.name)
                textarea(cols="30", rows="10", placeholder="Write a nice commment...")
                button Add Comment
    div.video__comments
        ul
            each comment in video.comments.reverse()
                li.video__comment(data-comment-id=comment._id)
                    span #{comment.owner.name} : #{comment.text}
                    if loggedIn && loggedInUser._id + "" === comment.owner._id + ""
                        button.deleteButton ❌

        if loggedIn && video.owner._id + "" === loggedInUser._id + ""
            a(href=`${video.id}/edit`) edit video
            a(href=`${video.id}/delete`) delete video
            
block scripts
    script(src="/static/js/videoPlayer.js")
    if loggedIn
        script(src="/static/js/commentSection.js") 