extends ../base
include ../mixins/avatar
include ../mixins/video
include ../mixins/like

block body
    div.video__container
        div.video__main
            div#videoPlayer(data-id=video._id)
                video(src=isHeroku ? video.fileUrl : "/" + video.fileUrl, crossorigin)

                div#videoControls.videoControls
                    div.videoControls__play
                        span#play.videoControls__playBtn
                            i.fas.fa-play
                        div.videoControls__time
                            span#currentTime 00:00
                            span  / 
                            span#totalTime 00:00
                    input(type="range",step="1", value="0", min="0")#timeline.videoControls__timeline
                    div.videoControls__volume
                        input(type="range",step="0.1", value=0.5, min="0", max="1")#volume
                        span#mute
                            i.fas.fa-volume-up
                        span#fullScreen
                            i.fas.fa-expand

            //- p=video.description
            //- small uploaded by 
            //-     a(href=`/user/${video.owner._id}`)=video.owner.name
            //- hr

            div.video__data
                .video__data__top
                    ul.video__hash-tags
                        each tag in video.hashtags
                            li
                                a(href=`/search?keyword=${tag.replace("#","")}`)=tag
                    p.video__title=video.title
                    div.video__meta-and-buttons
                        small.video__meta
                            span #{video.meta.views} #{video.meta.views > 1 ? "Views " : "View "}
                            span · 
                            span=new Date(video.createdAt).toLocaleDateString("us-en", {weekday: 'long', year: 'numeric', month: 'long', day: 'numeric'})

                        span.video__like__container.videoLikeContainer
                            +like(video)
                hr
                .video__data__bottom
                    .video__owner-and-description
                        a(href=`/user/${video.owner._id}`).video__owner-avatar
                            div.avatar.avatar__sm
                                +avatar(video.owner)
                        h3.video__owner-name
                            a(href=`/user/${video.owner._id}`)=video.owner.name
                        p.video__desciprtion=video.description
                    
                    
                    if loggedIn && video.owner._id + "" === loggedInUser._id + ""
                        div.video__admin
                            a(href=`${video.id}/edit`) Edit
                            a(href=`${video.id}/delete`) Delete    
            
            
            
            if loggedIn
                div.add-comment
                    div.avatar.avatar__sm
                        +avatar(loggedInUser)
                    form.add-comment__form#commentForm(data-logged-in-user=loggedInUser.name)
                        input.add-comment__input(type="text" placeholder="Write a nice commment..." required)
                        button Add Comment

            div.comments__container
                div.comments-total
                    span.commentsTotal=video.comments.length
                    span.commentsText #{video.comments.length > 1 ? " Comments" : " Comment"}
                ul.comments#videoComments
                    each comment in video.comments.reverse()
                        li.comment(data-comment-id=comment._id)
                            div.avatar.avatar__sm
                                    a(href=`/user/${comment.owner._id}`)
                                        +avatar(comment.owner)
                            div.comment__main
                                
                                a(href=`/user/${comment.owner._id}`)=comment.owner.name
                                p=comment.text
                                div.comment__buttons
                                    +like(comment)
                                    if loggedIn && loggedInUser._id + "" === comment.owner._id + ""
                                        i.deleteButton.fa-solid.fa-trash

        ul.related-videos.video-flex-col 
            each video in relatedVideos
                +video(video, videoMixinTypes.related)
            else
                span.empty__message No videos found 
    
    
block scripts
    script(src="/static/js/videoPlayer.js")
    if loggedIn
        script(src="/static/js/commentSection.js") 
        script(src="/static/js/likeSection.js") 
    else 
        script(src="/static/js/nonLoggedIn.js") 